<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerMovimientos"
               auto="auto"
               url="http://localhost:3000/v5/movimientos/{{idcuenta}}"
               handle-as="json"
               on-response="mostrarMovimientos">
             </iron-ajax>
    <!--div class="">
      <button class="btn btn-warning" on-click="invocarPeticion">Movimentos</button>
    </div-->
    <table class="table table-striped" hidden$="{{noTengoMovimientos}}">
      <span>{{ciudadSeleccionada}}</span>
      <thead>
        <th>Id</th>
        <th>Fecha</th>
        <th>Descripcion</th>
        <th>Importe</th>
        <!--th>Ver Detalles</th-->
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}" as="mov">
          <tr on-click="mostrarInfoFila">
            <td>{{mov.idmov}}</td>
            <td>{{mov.fecha.$date}}</td>
            <td>{{mov.descripcion}}</td>
            <td>{{mov.importe}}</td>
            <!--td><a class="btn btn-info" href="/movimientos/cuentas/[[mov.id]]">detalles</a></td-->
          </tr>
        </template>
      </tbody>
      </table>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }
      static get properties() {
        return {
          movimientos: {
            type: Array
          },
          noTengoMovimientos:{
            type: Boolean,
            value: true
          },
          ciudadSeleccionada:{
            type: String
          }
        };
      }
      /*invocarPeticion(){
        this.$.obtenerMovimientos.generateRequest();
      }*/
      mostrarMovimientos(data){
        console.log(data.detail.response[0].movimientos);
        this.movimientos = data.detail.response[0].movimientos;
        this.noTengoMovimientos=false;
      }
      mostrarInfoFila(e){
        console.log(e);
        this.ciudadSeleccionada = e.model.mov.ciudad;
      }
    }

    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
