<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cuentas-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerCuentas"
               auto="auto"
               url="http://localhost:3000/v5/cuentas/USR00001"
               handle-as="json"
               on-response="mostrarCuentas">
             </iron-ajax>
    <table class="table table-striped" hidden$="{{noTengoCuentas}}">
      <thead>
        <th>Id-Cuenta</th>
        <th>Ver Movimientos</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}" as="cta">
          <tr>
            <td>{{cta.idcuenta}}</td>
            <td><a class="btn btn-info" href="/movimientos/[[cta.idcuenta]]">movimientos</a></td>
          </tr>
        </template>
      </tbody>
      </table>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CuentasApp extends Polymer.Element {
      static get is() { return 'cuentas-app'; }
      static get properties() {
        return {
          cuentas: {
            type: Array
          },
          noTengoCuentas:{
            type: Boolean,
            value: true
          }
        };
      }
      mostrarCuentas(data){
        console.log(data.detail.response);
        this.cuentas = data.detail.response;
        this.noTengoCuentas=false;
      }
    }

    window.customElements.define(CuentasApp.is, CuentasApp);
  </script>
</dom-module>
